<div class="card details"> 
    <div class="card-header"> 
        <div class="row justify-content-between w-100"> 
            <div class="col-12 col-md-8"> 

                <div class="row justify-content-between"> 
                    <div class="col-auto"> 
                    <div class="display-5 font-weight-bold">{{car.brand}}</div> 

                        <div class="h1">{{car.name}}</div> 
                    </div> 
                    <div class="col-auto"> 
                        <div class="row h-100 align-items-center"> 
                            <div class="col-auto"> 
                                <div class="d-flex"><h4>Year: {{car.year}}</h4></div> 
                                <div class="d-flex"><h4>Price: {{car.price}} TND</h4></div> 
                            </div> 
                        </div> 
                    </div> 
                </div> 
            </div> 
            <div class="col-auto"> 
                <img class="car-img details" [src]='car.image' /> 
            </div> 
        </div> 
    </div> 
    <div class="card-body"> 
        
        <p>{{car.description}}</p> 

        <a class="btn btn-primary" [routerLink]="['']">back to the list</a> 
    </div> 
</div> 