<div class="page-header d-print-none">
    <div class="row align-items-center">
      <div class="col">
        <div class="page-pretitle">
          Admin Dashboard
        </div>
        <h2 class="page-title">
          Cars
        </h2>
      </div>
      <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
          <span class="d-none d-sm-inline">
          </span>
          <a [routerLink]="['/admin/add']" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-report">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
            Add
          </a>
          <a [routerLink]="['/admin/add']" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#modal-report" aria-label="Create new report">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
          </a>
        </div>
      </div>
    </div>
  </div>
<div class="row row-deck row-card">
    <div *ngFor="let c of tabcars" class="col-md-4">
        <div class="card m-1">
            <div class="card-body">
                <h3 class="card-title">{{c.name}}</h3>
                <img class="car-img" [src]='c.image'><br>
            </div>
            <div class="card-footer">
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <button class="btn btn-danger" (click)="remove(c)">Delete</button>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-primary" [routerLink]="['/admin/update',c._id]">Update</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>