<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Add Car</div>
            </div>
            <form [formGroup]="AddForm" (ngSubmit)="onSubmit()">
                <div class="card-body">
                    <div class="form-group mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Car Name:</label>
                        <input type="text" formControlName="name" name="name" class="form-control"  >
                        <small *ngIf="name.invalid && name.touched" class="text-danger">Name is Required</small> 
                    </div>
                    <div class="form-group mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Brand:</label>
                        <input type="text" formControlName="brand" name="brand" class="form-control" >
                        <small *ngIf="brand.invalid && brand.touched" class="text-danger">Brand is Required</small> 
                    </div>
                    <div class="form-group mb-3">
                        <label for="year" class="form-label" >Year:</label>
                        <select class="form-select" required [(ngModel)]="year" name="year" id="year">
                            <option value="please-select" selected>Select Year</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label for="description" class="form-label">Description:</label>
                        <textarea class="form-control" formControlName="description" [ngclass]="{'is-invalid':form.get('description').touched && form.get('description').invalid}" name="description" rows="3" ></textarea>
                        <div>Description is required</div>
                           
                    </div>
                    <div class="from-group mb-3">
                        <label for="price" class="form-label">Price:</label>
                        <input type="number" formControlName="price" *ngIf="price.invalid &&price.touched"  name="price" class="form-control"
                >
                    </div>
                    <div class="from-group">
                        <label for="" class="form-label">Image:</label>
                        <input type="file" (change)="handleFileInput($event.target.files)" name="image"
                            accept="image/x-png,image/gif,image/jpeg"  class="form-control" required>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            <a [routerLink]="['/admin']" class="btn btn-light">Cancel</a>
                        </div>
                        <div class="col-auto">
                            <button type="submit" [disabled]="!AddForm.valid" class="btn btn-primary"
                               >Add</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div> 