<div class="row">
    <form (ngSubmit)="soumettre(f)" #f="ngForm">
        <div class="col-md-4">
            <label for="exampleFormControlInput1" class="form-label">Car Name</label>
            <input type="text" [(ngModel)]="name" name="name" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="col-md-4">
            <label for="exampleFormControlInput1" class="form-label">Brand</label>
            <input type="text" [(ngModel)]="brand" name="brand" class="form-control"
                id="exampleFormControlInput1">
        </div>
        <label for="exampleFormControlInput1" class="form-label">Year</label>
        <div class="form-floating">
            <select class="form-select" [(ngModel)]="year" name="year" id="floatingSelect" aria-label="Floating label select example">
                <option selected>Open this select menu</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="exampleFormControlTextarea1" class="form-label">description</label>
            <textarea class="form-control" [(ngModel)]="description" name="description" id="exampleFormControlTextarea1"
                rows="3"></textarea>
        </div>
        <div class="col-md-4">
            <label for="exampleFormControlInput1" class="form-label">Price</label>
            <input type="number" [(ngModel)]="price" name="price" class="form-control"
                id="exampleFormControlInput1">
        </div> <br>
        <button type="button" class="btn btn-primary" type="submit">Add</button>
    </form>
</div>